body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: #d3b714;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav ul {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}

a:hover,
a:active,
a:focus {
  opacity: 0.7;
}

.logo img {
  max-width: 150px;
  width: 100%;
}

.aside {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.aside-right {
  background-color: #9cb1c7;
  order: 3;
}

.aside-left {
  background-color: #c798b9;
  order: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 0;
  order: 2;
}

.content p {
  text-align: center;
}

.content h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  padding-top: 20px;
  margin-bottom: 30px;
}

.content .cards-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.content .card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(155, 155, 155);
  padding: 15px;
  border-radius: 20px;
  align-items: center;
  width: auto;
  margin-bottom: 30px;
}

.card-body {
  margin-bottom: 20px;
  padding: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-footer {
  margin-bottom: 10px;
}

.content img {
  max-width: 100px;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(9, 145, 223, 0.3);
  padding: 15px;
}

.content a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  background-color: #685174;
  padding: 5px 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
}

h4 {
  font-size: 16px;
  font-weight: 800;
  padding-top: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #82e682;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* BURGER */

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 35px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-grow: 1;
  }

  .aside {
    max-width: 210px;
    width: 100%;
  }

  .content .cards-holder {
    flex-direction: row;
  }

  .content .card {
    width: calc(33.333% - 40px);
  }

  #menu__toggle,
  .menu__btn {
    display: none;
  }

  .menu__box {
    position: static;
    visibility: visible;
    padding: 0;
    background-color: initial;
    box-shadow: unset;
    display: flex;
    width: initial;
  }

  .menu__item {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .content .card {
    width: calc(50% - 40px);
  }

  @media (min-width: 1024px) {
    .content .card {
      width: calc(33.333% - 40px);
    }
  }
}
